body {
  font-family: 'Roboto', sans-serif;
  background-color: #355C7D;
}

.logo-image {
  height: 50px;
  width: 50px;
}

.intro {
  width: 80%;
  margin: 1em auto 1em;
  text-align: center;
}

.intro > * {
  color: white;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
}

.nav-section > a {
  height: 7em;
  display: block;
}

.nav-section h2 {
  position: relative;
  font-size: 2.5em;
}

.nav-section h2.plus::before {
  content: "+";
}

.nav-section h2.minus::before {
  content: "-";
}

.nav-section-inner {
  background-color: #feeeee;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.open-inner {
  /* needs to be bigger than the hidden div */
  max-height: 201px;
}

.nav-section-inner > * {
  color: black;
}

.portfolio a {
  background-color: #F67280;
}

.portfolio h2 {
  color: #fdd9dc;
}

.about a {
  background-color: #C06C84;
}

.about h2 {
  color: #f0dbe1;
}

.contact a {
  background-color: #6C5B7B;
}

.contact h2 {
  color: #cdc4d4;
}

.contact-buttons {
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.contact-buttons a {
  border: 1px solid white;
  text-decoration: none;
  border-radius: 1.5em;
  padding: .3em 1em .3em 1em;
  margin: 0 .3em 0;
  color: white;
}