body {
  margin: 2px 2px 0;
  font-family: 'Roboto', sans-serif;
}

.intro {
  width: 80%;
  margin: 1em auto 1em;
  text-align: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
}

.portfolio, .about, .contact {
  height: 7em;
}

.portfolio {
  background-color: #F67280;
}

.about {
  background-color: #C06C84;
}

.contact {
  background-color: #6C5B7B;
}

.contact-buttons {
  text-align: center;
  margin-top: 1.6em;
}

.contact-buttons a {
  border: 1px solid black;
  background-color: #355C7D;
  text-decoration: none;
  border-radius: 1.5em;
  padding: .3em 1em .3em 1em;
  margin: 0 .3em 0;
}