html {
  font-size: 62.5%;
}

p, li {
  font-size: 1.4rem;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: #355C7D;
}

.logo-image {
  height: 3.3rem;
  margin: 1.2rem 0 1.4rem 0;
}

.intro {
  margin: 1rem auto 2.9rem;
  text-align: center;
}

.intro > * {
  color: white;
}

.intro span {
  font-size: 1.5rem;
  opacity: 0.29;
}

h1 {
  font-size: 2.9rem;
  margin-bottom: 0.6rem;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 2rem;
}

.container {
  width: 100%;
}

a {
  text-decoration: none;
}

.nav-section > a {
  height: 9.4rem;
  display: block;
}

.nav-section h2 {
  position: relative;
  font-size: 3.4rem;
  padding: 0.9rem 0 0 0.7rem;
}

.nav-section h2.plus::before {
  content: "+";
}

.nav-section h2.minus::before {
  content: "-";
}

.nav-section-inner {
  background-color: #feeeee;
  max-height: 0;
  overflow: hidden;
  transition: all 1.3s cubic-bezier(0.45, 0.05, 0.55, 0.95)
}

.open-inner {
  max-height: 90.5rem;
}

.nav-section-inner > * {
  color: black;
}

ol {
  margin: 1.8rem 1rem;
}

ol > li {
  margin-bottom: 1.2rem;
}

.portfolio a {
  background-color: #F67280;
}

.portfolio h2 {
  color: #fdd9dc;
}

.about a {
  background-color: #C06C84;
}

.about h2 {
  color: #f0dbe1;
}

.about-blurb {
  padding: 1rem 1rem;
}

.contact a {
  background-color: #6C5B7B;
}

.contact h2 {
  color: #cdc4d4;
}

.contact-buttons {
  margin-top: 2.9rem;
  display: flex;
  justify-content: center;
}

.contact-buttons a {
  border: 0.1rem solid white;
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 0.7rem 1.2rem;
  margin: 0 0.7rem 0;
  color: white;
  font-size: 1.3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0;
}

@media (max-width: 50rem) {
  .disclaimer {
    display: none;
  }
}

.album-discusser-screenshot {
  width: 29.6rem;
}

.center-child {
  text-align: center;
}

li {
  margin-bottom: 1rem;
}

.about-blurb p {
  margin: 1.3rem 0;
}