html {
    font-size: 62.5%;
    overflow-y: scroll;
}

p,
li {
    font-size: 1.4rem;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #355c7d;
}

.logo-image {
    height: 3.3rem;
    margin: 1.2rem 0 1.4rem 0;
}

.intro {
    margin: 1rem auto 2.9rem;
    text-align: center;
}

.intro > * {
    color: white;
}

.intro span {
    font-size: 1.5rem;
    opacity: 0.29;
}

h1 {
    font-size: 2.9rem;
    margin-bottom: 0.6rem;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 2rem;
}

.container {
    width: 100%;
}

a {
    text-decoration: none;
}

.nav-section > a {
    display: block;
}

.nav-section h2 {
    position: relative;
    font-size: 3.4rem;
    padding: 0.9rem 0 0 0.7rem;
}

.nav-section h2.plus::before {
    content: '+';
}

.nav-section h2.minus::before {
    content: '-';
}

.nav-section-inner {
    background-color: #feeeee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.open-inner {
    max-height: 90.5rem;
}

.nav-section-inner > * {
    color: black;
}

ol > li {
    margin-bottom: 1.2rem;
}

.portfolio h2 {
    color: #fdd9dc;
}

.about h2 {
    color: #f0dbe1;
}

.about-blurb {
    padding: 1rem 1rem;
}

@media (max-width: 50rem) {
    .disclaimer {
        display: none;
    }
}

.album-discusser-screenshot {
    width: 282px;
}

.center-child {
    text-align: center;
}

li {
    margin-bottom: 1rem;
}

.cartoon-face {
    width: 7rem;
}

.panel-content {
    margin: 2.3rem 1.9rem;
}

.js-accordion__panel[aria-hidden='true'] {
    display: none;
}

.js-accordion__header {
    display: block;
    height: 9rem;
    width: 100%;
}

button {
    text-align: left;
    font-size: 3.3rem;
    font-family: inherit;
    padding: 0 0 4.3rem 0.5rem;
}

#accordion-0-0_tab,
#accordion-0-1_tab,
#accordion-0-2_tab {
    outline: none;
}

#accordion-0-0_tab {
    background-color: #f67280;
    border: none;
    color: #fdd9dc;
    border-radius: 0;
}

#accordion-0-0_tab:hover {
    background-color: #f56071;
}

#accordion-0-1_tab {
    background-color: #c06c84;
    border: none;
    color: #f0dbe1;
}

#accordion-0-1_tab:hover {
    background-color: #c05978;
}

#accordion-0-2_tab {
    background-color: #6c5b7b;
    border: none;
    color: #cdc4d4;
    border-radius: 0;
}

#accordion-0-2_tab:hover {
    background-color: #664e7c;
}

#accordion-0-2_tab[aria-expanded='true'] {
    border-radius: 0;
}

#accordion-0-2 {
    border-radius: 0;
}

/* title opened */
.js-accordion__header[aria-expanded='true']:before {
    font-family: monospace;
    content: '-';
}
/* title closed */
.js-accordion__header[aria-expanded='false']:before {
    font-family: monospace;
    content: '+';
}

.js-accordion__panel {
    font-family: 'Noto Serif', serif;
    background-color: #dddddd;
}

.animated-accordion__panel {
    /* magic number for max-height = enough height */
    /* max-height: 100rem; */
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 1s ease, opacity 1s ease;
    visibility: visible;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
}

#accordion-0-0.js-accordion__panel.animated-accordion__panel {
    max-height: 1079px;
}

#accordion-0-1.js-accordion__panel.animated-accordion__panel {
    max-height: 1611px;
}

#accordion-0-2.js-accordion__panel.animated-accordion__panel {
    max-height: 118px;
}

/* This is the hidden state */
#accordion-0-0.js-accordion__panel[aria-hidden='true'].animated-accordion__panel,
#accordion-0-1.js-accordion__panel[aria-hidden='true'].animated-accordion__panel,
#accordion-0-2.js-accordion__panel[aria-hidden='true'].animated-accordion__panel {
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: 1s, 0s, 0s;
    margin: 0;
    padding: 0;
}

h2.js-accordion__header.animated-accordion__title {
    display: none;
}

p {
    line-height: 1.9rem;
    margin: 1.2rem 0;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

input[type='submit'] {
    width: 26.5%;
    height: 2.8rem;
    border-radius: 1.4rem;
    background-color: #dddddd;
    border: 0.1rem solid black;
    font-size: 1.2rem;
    align-self: center;
}

input[type='submit']:hover {
    background-color: #ac94c1;
}

textarea {
    height: 9.7rem;
}

.about-panel-content {
    display: flex;
}

.blurb p {
    line-height: 1.9rem;
    margin: 0 0 1.6rem 2rem;
}

.contact-panel-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2.4rem 15.7rem;
}

#sender-name,
#sender-subject,
#sender-message {
    margin-bottom: 1.2rem;
}

#github-link {
    height: 6.9rem;
}

#linkedin-link {
    height: 6.4rem;
}

#email-link {
    height: 5.5rem;
}

#github-link,
#linkedin-link,
#email-link {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#github-link:hover,
#email-link:hover,
#linkedin-link:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.portfolio-thumb {
    margin: 0 3.3rem 0;
}

.screenshot-background {
    width: 30rem;
    height: 25.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    background-color: white;
    margin: 0 0 2.7rem 0;
    padding: 1.4rem;
    width: 27.2rem;
    height: 9.1rem;
}

.description p {
    margin: 0 0 0.9rem 0;
}

.description a {
    color: black;
    font-size: 1.3rem;
}

.description a:hover {
    color: rgb(135, 92, 184);
}

.project-name {
    font-weight: bold;
}

.screenshot-background img {
    width: 27rem;
}

.snobbly-background {
    background-color: #f9abab;
}

.savage-background {
    background-color: #d2955e;
}

.stereogum-background {
    background-color: #fbf9a8;
}

.pomodoro-background {
    background-color: #8fe2bb;
}

about-panel-content img {
    float: left;
}

@media (min-width: 374px) {
    h1 {
        font-size: 3.3rem;
        margin-bottom: 0.9rem;
    }

    .logo-image {
        height: 3.3rem;
        margin: 1.5rem 0 1.4rem 0;
    }

    .intro span {
        font-size: 1.8rem;
    }

    button {
        font-size: 4.2rem;
    }

    #accordion-0-0_tab,
    #accordion-0-2_tab {
        border-radius: 0;
    }
}

@media (min-width: 765px) {
    body {
        width: 56.4rem;
        margin: auto;
    }

    h1 {
        font-size: 4.2rem;
        margin-bottom: 0.7rem;
    }

    .logo-image {
        height: 4rem;
        margin: 3.6rem 0 2.7rem 0;
    }

    .intro {
        margin: 1rem auto 4.1rem;
    }

    .intro span {
        font-size: 2.1rem;
    }

    .js-accordion__header {
        height: 11.1rem;
    }
}

@media (min-width: 801px) {
    body {
        width: 800px;
        margin: auto;
    }

    h1 {
        font-size: 4.2rem;
        margin-bottom: 1.1rem;
    }

    .logo-image {
        height: 4rem;
        margin: 2.6rem 0 1.4rem 0;
    }

    .intro span {
        font-size: 2.1rem;
    }

    .js-accordion__header {
        height: 9.9rem;
    }

    button {
        font-size: 5.6rem;
    }

    #accordion-0-0_tab {
        border-radius: 0.9rem 0.9rem 0 0;
    }

    #accordion-0-2_tab {
        border-radius: 0 0 0.9rem 0.9rem;
    }

    /* this specifies the max height of the panel. exact matching of height will yield the best ease effect */
    #accordion-0-0.js-accordion__panel.animated-accordion__panel {
        max-height: 296px;
    }

    #accordion-0-1.js-accordion__panel.animated-accordion__panel {
        max-height: 810px;
    }

    #accordion-0-2.js-accordion__panel.animated-accordion__panel {
        max-height: 118px;
    }

    .row {
        display: flex;
        justify-content: center;
    }
}
